In [1]:
import pickle
from train import mydist
import pandas as pd
import numpy as np

In [3]:
with open('model_knn.pkl', 'rb') as f:
    model = pickle.load(f)
    f.close()

In [4]:
HP = 241
TORQUE = 273
TURBO = 1
SUPER = 0
TWO_DOOR = 0
MAN = 1
AUTO = 1
FWD = 1
RWD = 0
AWD = 0

In [5]:
similar_cars = model.kneighbors([[HP,TORQUE,TURBO,SUPER,TWO_DOOR,MAN,AUTO,FWD,RWD,AWD]])[1][0]

In [6]:
similar_cars

array([108, 106,  63,  44,  12], dtype=int64)

In [11]:
df = pd.read_csv('data/train_data.csv')
# df = df[['hp', 'torque', 'turbo', 'super', 'two_door', 'man', 'auto', 'fwd', 'rwd', 'awd']]

In [12]:
df

,make,name,edition,min_year,max_year,hp,torque,body,door,cylinder,...,transmission,drive,turbo,super,two_door,man,auto,fwd,rwd,awd
0,ACURA,integra,base,1994,2000,140,124,coupe,2,4,...,both,fwd,0,0,1,1,1,1,0,0
1,ACURA,integra,gsr,1994,2000,170,128,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
2,ACURA,integra,type r,1999,2000,195,130,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
3,ACURA,rsx,base,2002,2006,160,141,coupe,2,4,...,both,fwd,0,0,1,1,1,1,0,0
4,ACURA,rsx,type s,2002,2004,200,141,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,HYUNDAI,veloster,n (js),2019,2022,275,260,hatch,3,4,...,both,fwd,1,0,0,1,1,1,0,0
112,PONTIAC,gto,5th gen,2004,2004,350,365,coupe,2,8,...,both,rwd,0,0,1,1,1,0,1,0
113,PONTIAC,gto,5th gen,2005,2006,400,400,coupe,2,8,...,both,rwd,0,0,1,1,1,0,1,0
114,NISSAN,400z,base,2022,2023,400,350,coupe,2,6,...,both,rwd,1,0,1,1,1,0,1,0
115,HYUNDAI,elantra,n,2023,2023,276,289,sedan,4,4,...,both,fwd,1,0,0,1,1,1,0,0

In [15]:
sim_cars = {}

In [32]:
for idx, car in df[['hp', 'torque', 'turbo', 'super', 'two_door', 'man', 'auto', 'fwd', 'rwd', 'awd']].iterrows():
    similar_cars = model.kneighbors([car.values])[1][0]
    print(idx)
    print(similar_cars)

0
[ 0 98 97 53 58]
1
[ 1  3 55  2 33]
2
[ 2 49  4  5  1]
3
[ 3 55 73  1 59]
4
[ 4  5  2 80 87]
5
[ 5  4  2 80 87]
6
[ 6 17 79 87 80]
7
[  7  26   8 111  10]
8
[  8 111  41  40   7]
9
[ 9 61 26 10 18]
10
[10  9 26  7 40]
11
[ 11  12 106  44 108]
12
[ 11  12 106  44 108]
13
[ 13 103 104  96  66]
14
[ 14  39 109  69  86]
15
[15 20 21 31 14]
16
[16 82 71 54 57]
17
[17  6 79 87 80]
18
[ 18  23  22  61 102]
19
[19 76 42 24 25]
20
[ 21  20  15 112  39]
21
[ 21  20  15 112  39]
22
[ 22  23  18 102  61]
23
[ 22  23  18 102  61]
24
[25 24 76 19 42]
25
[25 24 76 19 42]
26
[26  7 61 18  9]
27
[27 29 65 48 78]
28
[28 90 69 30 68]
29
[29 27 78 65 48]
30
[ 30  90  28 109  72]
31
[ 31  45  69 109  14]
32
[32 95 56 51 52]
33
[33  1  0 98 32]
34
[ 34 110  96 104 103]
35
[ 35  86  68  72 109]
36
[36 37 62 50 81]
37
[37 62 50 36 81]
38
[ 38  74  63 113 111]
39
[39 14 77 76 25]
40
[40 41 75 74  8]
41
[41 40 75  8 74]
42
[42 43 76 19 24]
43
[43 42 76 19 25]
44
[44 67 85 84 11]
45
[ 45  92  31  48 112]
46
[47 46 83 89 64]
47
[47 46 83 89 64]
48
[ 48 112  92  27  45]
49
[49  2  4 57 87]
50
[50 37 36 62 81]
51
[51 93 95 32 52]
52
[52 56 95 53 97]
53
[53 97  0 98 52]
54
[54 16 60 57 82]
55
[55  3 73 59 94]
56
[56 52 95 53 32]
57
[57 54 49 80 87]
58
[58 97 59 94 98]
59
[59 94 58 97 55]
60
[60 54 96 17 34]
61
[61 26 18  9 22]
62
[62 37 36 50 81]
63
[ 63 113  38  67 108]
64
[64 47 46 13 83]
65
[ 65  29  27  78 101]
66
[ 66 103  96  13 104]
67
[ 67  85  84  44 105]
68
[ 68  86  35 107 109]
69
[ 69 109  90  35  86]
70
[70 73 71 59 58]
71
[71 16 82 73 70]
72
[ 72 107  86  74  75]
73
[73 55 94 70 59]
74
[74 40 72 38 41]
75
[75 40 41 72 74]
76
[76 42 43 24 25]
77
[77 25 24 76 39]
78
[ 78  29  65  27 101]
79
[80 87 79  4  5]
80
[80 87 79  4  5]
81
[88 81 50 37 89]
82
[82 16 71 54  3]
83
[ 83  46  47  13 102]
84
[ 84  85  67 105 111]
85
[ 85  84  67 111  44]
86
[ 86  35 107  72  68]
87
[80 87 79  4  5]
88
[88 81 50 37 89]
89
[ 89  47  46 104  18]
90
[ 90 109  69  28  30]
91
[ 91  38  63 113 108]
92
[ 92 112  45  48  31]
93
[93 51 95 52 56]
94
[94 59 58 73 55]
95
[95 56 52 53 32]
96
[ 96 110 103  34  13]
97
[97 98  0 58 53]
98
[98  0 97 53 58]
99
[99 51 93 95 52]
100
[100  68 113 107  86]
101
[101  65  78  29  27]
102
[102  23  22  18 105]
103
[103  13  96  66 110]
104
[104  13 103 110  96]
105
[105  84  67 102  26]
106
[106  12  11 108 102]
107
[107  72  86  74  68]
108
[108 106  63  44  12]
109
[109  69  90  86  35]
110
[110  34  96 103 104]
111
[111  85   8  84  67]
112
[ 92  31  30  45 112]
113
[ 27  92  48 112  29]
114
[112  92  48  21  20]
115
[113  63  38 111 107]

In [31]:
df.iloc[27]

make            CHEVROLET
name             corvette
edition            c6 zo6
min_year             2005
max_year             2013
hp                    430
torque                424
body                coupe
door                    2
cylinder                8
displacement          6.2
aspiration             na
transmission         both
drive                 rwd
turbo                   0
super                   0
two_door                1
man                     1
auto                    1
fwd                     0
rwd                     1
awd                     0
Name: 27, dtype: object

In [19]:
# df[df.index != ]

,make,name,edition,min_year,max_year,hp,torque,body,door,cylinder,...,transmission,drive,turbo,super,two_door,man,auto,fwd,rwd,awd
0,ACURA,integra,base,1994,2000,140,124,coupe,2,4,...,both,fwd,0,0,1,1,1,1,0,0
1,ACURA,integra,gsr,1994,2000,170,128,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
2,ACURA,integra,type r,1999,2000,195,130,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
4,ACURA,rsx,type s,2002,2004,200,141,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
5,ACURA,rsx,type s,2005,2006,210,143,coupe,2,4,...,man,fwd,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,HYUNDAI,veloster,n (js),2019,2022,275,260,hatch,3,4,...,both,fwd,1,0,0,1,1,1,0,0
112,PONTIAC,gto,5th gen,2004,2004,350,365,coupe,2,8,...,both,rwd,0,0,1,1,1,0,1,0
113,PONTIAC,gto,5th gen,2005,2006,400,400,coupe,2,8,...,both,rwd,0,0,1,1,1,0,1,0
114,NISSAN,400z,base,2022,2023,400,350,coupe,2,6,...,both,rwd,1,0,1,1,1,0,1,0
115,HYUNDAI,elantra,n,2023,2023,276,289,sedan,4,4,...,both,fwd,1,0,0,1,1,1,0,0